### Peer-graded - Tools for Data Science IBM

Hi, this is the final task of the IBM Data Science professional certificate - Tools for Data Science

Top Data Science Programming Languages
1. Python
2. SQL (Structured Query Language)
3. R
4. Julia 
5. JavaScript
6. Scala
7. Java
8. Matlab

Top Python Libraries for Data Science
1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib 
6. Keras
7. SciKit-Learn
8. PyTorch
9. Scrapy
10. BeautifulSoup
11. LightGBM
12. ELI5
13. Theano
14. NuPIC
15. Ramp
16. Pipenv
17. Bob
18. PyBrain
19. Caffe2
20. Chainer

| Tools for Data Science |
| --- |
| Python |
| SQL |
| Tableau |
| Jupyter Notebook |
| Matlab |
| SAS |
| R |

### Arithmetic expression examples

- 3 + 5 = 8
- 4 - 2 = 2
- 3 * 4 = 12
- 10 / 5 = 2
- (2)^2 = 4

In [3]:
a = int(input("Enter the value = "))
b = int(input("Enter the value = "))
result = a * b
print(result)

Enter the value = 3
Enter the value = 4
12

In [5]:
a = int(input("Enter the minutes = "))
hour = a/60
print(hour, "hour")

Enter the minutes = 60
1.0 hour

### The objectives are:

- learn data science
- apply python
- learn to use python in Jupyter
- Finalize the professional certificate
- make sure you understand the concepts

### My name is Nathalia

and I'm glad to be here!